#fh_theme_settings .fd_home_project {
  display: none; }
#fh_theme_settings .fd_featured {
  display: none; }
#fh_theme_settings .fd_blog_page {
  display: none; }
#fh_theme_settings .fd_about_us {
  display: none; }
#fh_theme_settings .form-table td p.logo-text {
  display: none; }
